*.iml
.kotlin
.gradle
**/build/
!src/**/build/
src/debugModBundle/build/
src/launcherApp/build/
!buildSrc/
!buildSrc/**
buildSrc/.gradle/
buildSrc/build/
local.properties
.idea
.DS_Store
node_modules/
